<md-card>
  <md-card-content>
    <h2>Slider configuration</h2>
    <section>
      <md-input-container>
        <input mdInput type="number" placeholder="Value" [(ngModel)]="value">
      </md-input-container>
      <md-input-container>
        <input mdInput type="number" placeholder="Max Value" [(ngModel)]="max">
      </md-input-container>
      <md-input-container>
        <input mdInput type="number" placeholder="Min Value" [(ngModel)]="min">
      </md-input-container>
      <md-input-container>
        <input mdInput type="number" placeholder="Step Value" [(ngModel)]="step">
      </md-input-container>
    </section>

    <section>
      <md-checkbox [(ngModel)]="disabled">Disabled</md-checkbox>
    </section>

    <section>
      <md-checkbox [(ngModel)]="vertical">Vertical</md-checkbox>
    </section>

    <section>
      <md-checkbox [(ngModel)]="thumbLabel">Show thumb label</md-checkbox>
    </section>

    <section>
      <md-checkbox [(ngModel)]="invert"> Inverted</md-checkbox>
    </section>

    <section>
      <md-checkbox [(ngModel)]="showTicks">Show ticks</md-checkbox>
      <md-checkbox [(ngModel)]="autoTicks" *ngIf="showTicks">Auto ticks</md-checkbox>
      <md-input-container *ngIf="showTicks && !autoTicks">
        <input mdInput type="number" placeholder="Tick interval" [(ngModel)]="tickInterval">
      </md-input-container>
    </section>
  </md-card-content>
</md-card>

<md-card>
  <md-card-content>
    <h2>Result</h2>
    <md-slider
      [disabled]="disabled"
      [max]="max"
      [min]="min"
      [step]="step"
      [value]="value"
      [vertical]="vertical"
      [thumb-label]="thumbLabel"
      [invert]="invert"
      [tick-interval]="tickInterval"
    >

    </md-slider>
  </md-card-content>
</md-card>
